.container {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr 300px;
    gap: 40px;
    background-color: #f8ba00;
    min-height: 100vh;
    margin: -8px;
    grid-template-areas: 
    "image_area content_area"
    "image_area form_area";
}

img {
    height: 100vh;
    width: 100%;
}

.image_cls {
    grid-area: image_area;
    /* background-color: red; */
}

.content {
    grid-area: content_area;
    padding: 60px 60px 0 0;
    font-family: sans-serif;
    align-content: space-around;
    text-align: end;
}

h1 {
    font-size: xxx-large;
}

.content_details {
    font-size: 25px;
    line-height: 40px;
}

.login_form {
    grid-area: form_area;
    padding-right: 60px;
    display: flex;
    justify-content: end;
}

.mat-card-form {
    min-width: 60%;
    max-height: 35vh;
}
  
.example-card-footer {
    padding: 10px 16px 16px;
}

.error_padding {
    padding-bottom: 10px;
}