.detail_container {
    display: grid;
    grid-template-rows: 80px 3fr 2fr;
    padding: 50px 150px;
    gap: 40px;
    /* grid-template-areas: 
    'title'
    'cover detail'
    'review_detail'; */
}

.img_cls {
    min-height: 350px;
    min-width: 250px;

}

.title {
    margin-bottom: 5px;
}

.rating_number {
    padding: 32px;
}

.movie_detail {
    display: flex;
    gap: 40px;
}

/* .title {
    grid-area: title;
} */

.cover {
    grid-area: cover;
}

.input_form_review {
    grid-area: detail;
}

.review_detail {
    grid-area: review_detail;
}

.fav_icon {
    font-size: 20px;
    /* color: red; */
    width: 20px;
    height: 17px;
}

.rating_detail {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

mat-form-field {
    display: flex;
    min-width: 400px;
}

.rating_title {
    font-size: 20px;
    font-family: sans-serif;
}

.padding_btm {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.cusor_pointer {
    cursor: pointer;
    color: #d0cdcd;
}

.red {
    color: red;
}

.grey {
    color: #d0cdcd;
}