
    <app-header></app-header>
    <div class="detail_container">
        <div >
            <h5 class="title">{{movie.name}}</h5>
            <div class="review">
                @for(i of loopCount; track i){
                    <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite" 
                    class="fav_icon" [ngClass]="{red: i+1 <= movie.rating, grey: i+1 > movie.rating }"></mat-icon>
                } 
                <span class="rating_number">{{movie.rating}}</span>
            </div>
        </div>
        <div class="movie_detail">
           
            <img class="img_cls" [src]="movie.cover" alt="">
        
            <div class="rating_detail">
                <span class="rating_title">Rate this Movie</span>
                <form [formGroup]="review_form" (ngSubmit)="submitRating()">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="author">
                    </mat-form-field>
                    <div class="padding_btm">
                        <mat-label>Rating</mat-label>
                        <div>
                            @for(i of loopCount; track i){
                                <mat-icon class="fav_icon cusor_pointer" (click)="rateMovie(i)"
                                [ngClass]="{red: i+1 <= user_rating, grey: i+1 > user_rating }">favorite</mat-icon>
                            }
                        </div>
                    </div>
                    <mat-form-field>
                        <mat-label>Review</mat-label>
                        <textarea matInput formControlName="review"></textarea>
                    </mat-form-field>

                    <button mat-flat-button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div>
            <h6>Reviews</h6>
            <mat-card appearance="outlined">
                @for(item of movie.reviews; track item) {
                    <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{item.author}}</mat-card-title>
                        <mat-card-subtitle>{{item.published_on | date}}</mat-card-subtitle>
                        <span>
                            @for(fav of loopCount; track fav){
                                <mat-icon aria-hidden="false" aria-label="favorite icon" fontIcon="favorite" 
                                class="fav_icon" [ngClass]="{red: fav+1 <= movie.rating, grey: fav+1 > movie.rating }"></mat-icon>
                            }
                            {{item.rating | number: '1.1-2'}}</span>
                    </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{item.review}}
                    </mat-card-content>
                }
              </mat-card>
        </div>


    </div>


